<h1>Listing Recipes</h1>

<form action="/recipes" method="get">
  <input type="text" name="search" placeholder="Search recipes..." value="<%= @search_term %>" />
  <input type="submit" />
</form>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recipes.each do |recipe| %>
      <tr>
        <td><%= recipe.title %></td>
        <td><%= link_to "Show", recipe %></td>
      </tr>
    <% end %>
  </tbody>
</table>
